<!doctype html>

<footer class="mt-auto text-black-50">
    <p>This page was made by my beautiful, amazing, and hubmle <a href="https://twitter.com/CurlyBasta/" class="text-green">partner</a>.</p>
  </footer>